<%= form_for(grade) do |f| %>
  <% if grade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(grade.errors.count, "error") %> prohibited this grade from being saved:</h2>

      <ul>
      <% grade.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :letter_grade %>
    <%= f.collection_select :letter_grade, valid_grades, :to_s, :to_s, prompt: true  %>
  </div>

  <div class="field">
    <%= f.label :semester_id %>
    <%= f.collection_select :semester_id, Semester.all, :id, :full_name, prompt: true %>
  </div>

  <div class="field">
    <%= f.label :course_id %>
    <%= f.collection_select :course_id, Course.all, :id, :full_name, prompt: true %>
  </div>

  <div class="field">
    <%= f.label :student_id %>
    <%= f.collection_select :student_id, Student.all, :id, :full_name, prompt: true%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
