<p id="notice"><%= notice %></p>

<p>
  <strong>Letter grade:</strong>
  <%= @grade.letter_grade %>
</p>

<p>
  <strong>Semester:</strong>
  <%= @grade.semester %>
</p>

<p>
  <strong>Course:</strong>
  <%= @grade.course %>
</p>

<p>
  <strong>Student:</strong>
  <%= @grade.student %>
</p>

<%= link_to 'Edit', edit_grade_path(@grade) %> |
<%= link_to 'Back', grades_path %>
