<p id="notice"><%= notice %></p>

<h1>Course Prerequisites</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Course</th>
      <th>Prereq</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @course_prereqs.each do |course_prereq| %>
      <tr>
        <td><%= course_prereq.postreq.full_name %></td>
        <td><%= course_prereq.prereq.full_name %></td>
        <td><%= link_to 'Show', course_prereq, class: 'btn btn-default' %></td>
        <td><%= link_to 'Edit', edit_course_prereq_path(course_prereq), class: 'btn btn-default' %></td>
        <td><%= link_to 'Destroy', course_prereq, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Course Prerequisite', new_course_prereq_path, class: 'btn btn-primary' %>
