<p id="notice"><%= notice %></p>

<p>
  <strong>Course:</strong>
  <%= @course_prereq.postreq.full_name %>
</p>

<p>
  <strong>Prereq:</strong>
  <%= @course_prereq.prereq.full_name %>
</p>

<%= link_to 'Edit', edit_course_prereq_path(@course_prereq) %> |
<%= link_to 'Back', course_prereqs_path %>
