<h1>Listing courses</h1>

<table>
  <tr>
    <th>Subject</th>
    <th>Number</th>
    <th>Credits</th>
    <th>Grade</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @courses.each do |course| %>
  <tr>
    <td><%= course.subject %></td>
    <td><%= course.number %></td>
    <td><%= course.credits %></td>
    <td><%= course.grade %></td>
    <td><%= link_to 'Show', [course.semester, course] %></td>
    <td><%= link_to 'Edit', edit_semester_course_path(course.semester, course) %></td>
    <td><%= link_to 'Destroy', [course.semester, course], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Course', new_semester_course_path(params[:semester_id]) %>

<%= link_to 'Back', semester_path(params[:semester_id]) %>