<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Number:</strong>
  <%= @course.number %>
</p>

<p>
  <strong>Credits:</strong>
  <%= @course.credits %>
</p>
<%= link_to 'Edit', edit_course_path(@course), class: 'btn btn-default'%> |
<%= link_to 'Back', courses_path, class: 'btn btn-default'%>

<br>


</br>
<tbody>
    <br> Prerequisites: <br/>
    <% @course.prereqs.each do |prereq| %>
      <br><%= prereq.name %> 
      <%= prereq.number %> <br/>
      <% end %>
</tbody>
