<p id="notice"><%= notice %></p>

</br>
</br>



<div class="myp">
<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Number:</strong>
  <%= @course.number %>
</p>

<p>
  <strong>Credits:</strong>
  <%= @course.credits %>
</p>
</div>


<tbody>

    </br><div style="font-weight:bold;" align="center">Prerequisites <br/></div>
    <% @course.prereqs.each do |prereq| %>
        <div align="center">
      <%= prereq.name %>
      <%= prereq.number %> <br/>
      </div>

      <% end %>

</tbody>


</br>
</br>
<p align="center">
<%= link_to 'Edit', edit_course_path(@course), class: 'btn btn-default'%> |
<%= link_to 'Back', courses_path, class: 'btn btn-default'%>
</p>